@import './_reset.scss';

.container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid red;

  .face {
    width: 100px;
    height: 100px;
    background: rgba(255, 0, 0, 1);
    backface-visibility: hidden;
  }
  overflow: hidden;
}

.CSS3D-view-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  // transition: transform linear 1s;
}


